<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <address>
          <strong>Website:</strong><br />
          <a href="#">www.aboutsagar.com</a>
        </address>
        <address>
          <strong>Address:</strong><br />
          Flat NO.3, Yamunai Niwas, Sangam Chowk<br />
          Kothrud,Pune 411038.
        </address>
      </div>
    </div>
  </div>
</footer>