<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <address>
          <strong>Website:</strong><br />
          <a href="#">www.aboutsagar.com</a>
        </address>
        <address>
          <strong>Address:</strong><br />
          Flat NO.3, Yamunai Niwas, Sangam Chowk<br />
          Kothrud,Pune 411038.
        </address>


        <div class="social-cont">
          <span class="fa-stack facebook">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

          <span class="fa-stack twitter">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

          <span class="fa-stack google">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>

          <span class="fa-stack instagram">
            <a href="#">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse social-ico"></i>
            </a>
          </span>
        </div>

      </div>
    </div>
  </div>
</footer>